html,body {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.content-panel {
    width: calc(100% - 16px);
    background-color: #ffffff;
    padding: 8px;
}

.search-line {
    margin-bottom: 8px;
}

.statistic {
    padding-bottom: 8px;
}

.statistic label span {
    color: #0097fb;
}